@font-face {
    font-family: montserrat;
    src: url(Montserrat-Black.ttf);
}


*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    position: relative;
    overflow: hidden;
    background-color:#E4E0DD;

}

#loader{
    /* display: none; */
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    font-size: 3vw;
    text-transform: uppercase;
    overflow-x: hidden;
}

#center{
    overflow: hidden;
}

#loader h1{
    display: block;
    overflow-x: hidden;
    /* background-color: red; */
}





#page{
    position: relative;
    height: 100vh;
    width: 100vw;
   
    
   
}

#bg{
    height: 80vh;
    width: 80vw;
    position: relative;
    /* background-color: red; */
    background-image: url(landingpagebg.jpg);
    top: 55%;
    left: 50%; 
    transform: translate(-50%,-50%);
    border-top-left-radius: 200px;
    border-top-right-radius: 350px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 100px;

}









#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 55vw;
    background-color: red;
    position: fixed;
    left: 50%;
    top: 8%;
    transform: translate(-50%,-50%);
    z-index: 99;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.452);
    /* backdrop-filter: blur(10px); */
    padding: 0px 10px;
    padding: 0px 1vw;
    padding-right: 1.5vw;
}

#nav #signin{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav a{
    text-decoration: none;
    color: black;
    font-family: montserrat;
    font-weight: 100;
    /* background-color: red; */
    padding: 0.8vw;
    border-radius: 50px;

}

#nav a:hover{
    background-color: #E4E0DD;
}

#nav i:hover{
    background-color: #E4E0DD;
}

#nav i{
    text-decoration: none;
    color: black;
    font-family: montserrat;
    font-weight: 100;
    /* background-color: red; */
    padding: 0.8vw;
    border-radius: 50%;

}

#nav #menu{
    padding: .8vw ;
    /* background-color: red; */
    border-radius: 50px;
}

#nav #menu:hover{
    /* padding: .8vw ; */
    background-color:#E4E0DD;
}


#nav h1{
    font-family: montserrat;
    
}

#nav h1:hover{
    background-color: rgba(0, 0, 0, 0.671);
    padding: .4vw 1.7vw;
    border-radius: 50px;
    color: white;
    transition-duration: 1s;
}



#page h1{
font-size: 70px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
font-family: montserrat;
font-weight: 100;
z-index: 99;

}

#page h1::selection{
    color: white;
  
    }

#page>h4{
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
font-family: montserrat;
font-weight: 100;
color: black;z-index: 99;

}

#page1>h1{
font-size: 70px;
position: absolute;
z-index: 10;

}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
    position: relative;
    text-align: center;
  

}

#page1 h1{
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: montserrat;
}

#cards{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 90%;
    gap: 5vw;
    /* background-color: red; */


}

.card{
    font-family: montserrat;
    width: 27%;
    height: 90%;
    background-color: blue;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.img{
    height: 50%;
    width: 100%;
    background-color: rgb(17, 0, 0);
    border-bottom-left-radius: 700px;
    background-image:url(dogecoin.png);
    background-position-x: 6vw;
    background-repeat: no-repeat;
    background-size: 15vw;
    color: transparent;
    text-align: center;
    position: relative;

}

#img1{
    background-image: url(https://bitcoin.org/img/home/bitcoin-img.svg?1716491272);
}

#img2{
    background-image: url(https://ethereum.org/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Feth-diamond-purple.7929ed26.png&w=828&q=75);
    background-size: 8vw;
    background-position-x:9vw ;
    background-position-y: 1vw;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;

}

.big{
    font-size: 4vw;
}

.return{
    font-size: 1.1vw;
}

.button{
    position: relative;
    bottom: -24%;
}

.button a{
    color: black;
    padding: 1vw 2vw;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-50%);

}



.button:hover a{
    /* height: 100%; */
    background-color: black;
    transition:ease-in-out;
    transition-duration: .1s;
    color: white;
}

.card:hover{
    
    height: 95%;
    width: 100%;
    transition: ease-in-out;
    transition-duration: .4s;
    scale: 1.1;
}


.card:hover .text>h2{
    transition: ease-in-out;
    transition-delay: .4s;
    color: rgba(255, 255, 255, 0.61);
}

.text{
    position: absolute;
    /* background-color: red; */
    height: 100%;
    width: 58%;
    left: 42%;
    transform: translateX(0%);
    padding-right: 1vw;
    padding-top: 1vw;
    text-align: start;

}
.text>h2{
    font-size: 1.4vw;
}

#page2{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 4vw;
    padding-top: 7vw;
    padding-bottom:2vw;
    font-family: montserrat;

}

.page2cont{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;

}

.page2cont>h1{
    font-size: 3vw;
}

.info{
    display: flex;
    align-items: center;
    gap: 2vw;
    border-radius: 20px;
    padding: 1vw;
}

.info:hover{
    background-color: rgba(0, 0, 0, 0.795);
    color: rgb(255, 255, 255);
    scale: 1.1;
    transition-delay: .1s;
    transition-duration: .2s;
    

    
}


.page2cont h2{
    margin-bottom: 1.5vw;
}
.info h1{
    font-size: 2vw;
}

.info h2{
    font-size: 1.3vw;
}

.imginfo img{
    height: 5vw;
    width: 5vw;
}

.imginfo i{
   font-size: 3vw;
   background-color: #33485d;
   color: white;
   padding: 1.4vw;
   border-radius: 10px;
}

#page3{
    padding-top: 7vw;
    height: 100vh;
    width: 100vw;
    background-color: #E4E0DD;
    text-align: center;
    font-family: montserrat;
    position: relative;
}

#page3>h1{
    font-size: 4vw;
}

#loop{
    height: 55vh;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 30%;
    display: flex;
    gap: 5vw;
    overflow: hidden;

    
    
}

.partners{
    /* background-color: black; */
    height: 100%;
    width: 2000%;
    /* position: absolute; */

}

.partners1{
    /* background-color: black; */
    height: 100%;
    width: 2000%;
    /* position: absolute; */

}

#loop>.partners{
    font-size: 8vw; 
    
    

    white-space: nowrap;
    font-family: montserrat;
    font-weight: 400;
    animation-name: anim;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop>.partners1{
    font-size: 8vw; 
    white-space: nowrap;
    font-family: montserrat;
    font-weight: 400;
    animation-name: anim;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    mask-repeat: repeat-x;
}

.partners{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vw 2vw;
    gap: 1.2vw;
    border-radius: 30px;
}
.partners:hover{
    
    background-color: black;  
}
.partners1:hover{
    background-color: black;
}

.partners1{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vw 2vw;
    gap: 1.2vw;
    border-radius: 30px;
}


#loop img{
    /* height: 10vw; */
    width: 20vw;
    border-radius: 30px;
}

.partnername{
    background-color: rgb(0, 0, 0);
    height: 4vw;
    width: 15vw;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


.partnername h2{
   color: white;
   font-size: 2vw;
}

.partnername1{
    background-color: rgb(0, 0, 0);
    height: 6vw;
    width: 15vw;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.partnername1 h2{
   color: white;
   font-size: 2vw;
}

#page4{
    height: 100vh;
    width: 100vw;
    background-color: #E4E0DD;
    display: flex;
    gap: 3vw;
    padding: 6vw;
    padding-top: 10vw;
    z-index: 99;
}

#left4{
    height: 100%;
    width: 50%;
    background-color: red;
    border-radius: 20px;
    background-image: url(right4bg.webp);
    background-size: 60vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vw;
    font-family: montserrat;
    gap: 3vw;
    text-align: center;
    color: #ffffff;
}

#left4 i{
    color: white;
    font-size: 5vw;
}

#left4 h2{
    font-size: 3vw;
}

#left4 a{
    text-decoration: none;
    padding: 1.5vw 2vw;
    border-radius: 50px;
    background-color: white;
    color: black;

}

#right4{
    height: 100%;
    width: 50%;
    background-color: red;
    border-radius: 20px;
    background-image: url(rightbg.jpg);
    background-size: 60vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vw;
    font-family: montserrat;
    gap: 3vw;
    text-align: center;
    color: #ffffff;
}

#right4 i{
    color: white;
    font-size: 5vw;
}

#right4 h2{
    font-size: 3vw;
}

#right4 a{
    text-decoration: none;
    padding: 1.5vw 2vw;
    border-radius: 50px;
    background-color: white;
    color: black;
}

#page4 a:hover{
    background-color: black;
    color: white;
    
    transition: ease-in-out;
    transition-duration: .2s;
}

.card1:hover{
    scale: 1.1;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

#page5{
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: -9;
}











@keyframes anim{
    0%{transform: translateX(0%);}
    100%{
        transform: translateX(-1000%);
    }
}

@keyframes anim1{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(2vw);
    }
    
}








 



